body {
  background-image: url(../img/background/bg-index-2.png);
  height: 100vh;
  background-size: cover;
  background-position: top;
}

main {
  background-image: none;
  min-height: unset !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-img {
  width: 70%;
  aspect-ratio: 223/225;
}

button:disabled {
  filter: grayscale(1);
}

@media only screen and (min-width: 768px) {
  .banner {
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    justify-content: center !important;
    margin-bottom: 20px;
  }
  .banner .logo img {
    width: 400px;
  }
  .banner .slogan img {
    width: 300px;
  }
  .d-md-none {
    display: none !important;
  }
}
@media only screen and (max-width: 767.98px) {
  main {
    justify-content: flex-start;
  }
  main h1 {
    text-transform: unset !important;
  }
}