.txt-red-main {
  color: #872529;
}

.present {
  height: 60px;
  left: 0;
  margin: 0 auto;
  perspective: 600px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 60px;
  z-index: 100;
  transition: all 3s ease-in-out;
  transition: top 1s ease-in-out;
}
.present.hidden {
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}

.name {
  font-size: 4em;
  font-weight: 100;
  position: absolute;
  text-align: center;
  text-shadow: -3px 3px 0 rgba(229, 206, 129, 0.5);
  top: 50%;
  transform: translate3d(-15px, -50%, 0) rotateY(0) rotateX(0);
  -webkit-transform: translate3d(-15px, -50%, 0) rotateY(0) rotateX(0);
  transition: transform 2.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  width: -moz-max-content;
  width: max-content;
}
.name img {
  -o-object-fit: contain;
     object-fit: contain;
}

.instruction {
  bottom: -100px;
  left: 0;
  opacity: 1;
  position: absolute;
  text-align: center;
  transition: opacity 0.5s;
  width: 100%;
}

.rotate-container {
  animation: present-rotate 30s infinite linear;
  height: 100%;
  transform: rotateY(170deg);
  -webkit-transform: rotateY(170deg);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: all 1s ease;
}
.rotate-container.hidden {
  pointer-events: none;
}

@keyframes present-rotate {
  0% {
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
  }
}
.bottom,
.front,
.left,
.back,
.right {
  background-image: url("../img/phan-thuong/gift-box-bg.jpg");
  background-size: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.bottom {
  transform: translateY(50%) rotateX(90deg);
  -webkit-transform: translateY(50%) rotateX(90deg);
}

.front,
.left,
.back,
.right {
  transition: all 0.5s;
  transform-origin: bottom;
  -webkit-transform-origin: bottom;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.lid-front,
.lid-left,
.lid-back,
.lid-right {
  background-image: url("../img/phan-thuong/gift-box-bg.jpg");
  background-size: 100%;
}

.front:after,
.left:after,
.back:after,
.right:after,
.lid-top:after,
.lid-front:after,
.lid-left:after,
.lid-back:after,
.lid-right:after {
  background-color: transparent transparent;
  background-image: url("../img/background/ruy-bang.png");
  background-size: cover;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  content: "";
  height: 100%;
  left: calc(50% - 10px);
  position: absolute;
  transform: translateZ(0.1px);
  -webkit-transform: translateZ(0.1px);
  width: 15px;
}

.lid-top::after,
.lid-front::after,
.lid-left::after,
.lid-back::after,
.lid-right::after {
  background-image: url("../img/background/ruy-bang.png");
  background-size: 250%;
}

.lid-top {
  position: relative;
}
.lid-top .ribbon {
  width: 80px;
  aspect-ratio: 1/1;
}
.lid-top:before {
  background-color: #992429;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  content: "";
  height: 20px;
  left: 0;
  position: absolute;
  top: calc(50% - 10px);
  transform: translateZ(0.1px);
  -webkit-transform: translateZ(0.1px);
  width: 100%;
}

.left {
  transform: translateX(-50%) rotateY(-90deg);
  -webkit-transform: translateX(-50%) rotateY(-90deg);
}

.back {
  transform: translateZ(-30px) rotateY(180deg) rotateX(0);
  -webkit-transform: translateZ(-30px) rotateY(180deg) rotateX(0);
}

.right {
  transform: translateX(50%) rotateY(90deg);
  -webkit-transform: translateX(50%) rotateY(90deg);
}

.front {
  transform: translateZ(30px);
  -webkit-transform: translateZ(30px);
}

.lid {
  animation: lid-animation 3.5s 1s infinite;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 2s;
}

@keyframes lid-animation {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0);
    -webkit-transform: translate3d(0, 0, 0) rotateX(0);
  }
  5% {
    transform: translate3d(0, -10px, -5px) rotateX(5deg);
    -webkit-transform: translate3d(0, -10px, -5px) rotateX(5deg);
  }
  10% {
    transform: translate3d(0, -10px, 5px) rotateX(-5deg);
    -webkit-transform: translate3d(0, -10px, 5px) rotateX(-5deg);
  }
  15% {
    transform: translate3d(0, -10px, -5px) rotateX(5deg);
    -webkit-transform: translate3d(0, -10px, -5px) rotateX(5deg);
  }
  20% {
    transform: translate3d(0, -10px, 5px) rotateX(-5deg);
    -webkit-transform: translate3d(0, -10px, 5px) rotateX(-5deg);
  }
  25% {
    transform: translate3d(0, -10px, -5px) rotateX(5deg);
    -webkit-transform: translate3d(0, -10px, -5px) rotateX(5deg);
  }
  30% {
    transform: translate3d(0, 0, 0) rotateX(0);
    -webkit-transform: translate3d(0, 0, 0) rotateX(0);
  }
}
.lid-top,
.lid-left,
.lid-back,
.lid-right,
.lid-front {
  background-color: #e5ce81;
  border: 1px solid rgba(0, 0, 0, 0.2);
  left: -5px;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 70px;
  transition: all 2s ease-in-out;
}

.lid-top {
  height: 70px;
  top: -5px;
  transform: translateY(-50%) rotateX(90deg);
  -webkit-transform: translateY(-50%) rotateX(90deg);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.lid-left,
.lid-back,
.lid-right,
.lid-front {
  height: 17px;
  top: -5px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.lid-left {
  transform: translateX(-50%) rotateY(-90deg);
  -webkit-transform: translateX(-50%) rotateY(-90deg);
}

.lid-back {
  transform: translateZ(-35px) rotateY(180deg);
  -webkit-transform: translateZ(-35px) rotateY(180deg);
}

.lid-right {
  transform: translateX(50%) rotateY(90deg);
  -webkit-transform: translateX(50%) rotateY(90deg);
}

.lid-front {
  transform: translateZ(35px);
  -webkit-transform: translateZ(35px);
}

.present.open {
  top: 57%;
}
.present.open .name {
  transform: translate3d(-13px, -48%, 0) rotateY(1080deg) rotateX(10deg);
  -webkit-transform: translate3d(-13px, -48%, 0) rotateY(1080deg) rotateX(10deg);
  scale: 2;
  transition: all 1s ease;
  width: -moz-max-content;
  width: max-content;
}
.present.open .instruction {
  opacity: 0;
}
.present.open .left {
  transform: translateX(-50%) rotateY(-90deg) rotateX(-90deg);
  -webkit-transform: translateX(-50%) rotateY(-90deg) rotateX(-90deg);
}
.present.open .back {
  transform: translateZ(-30px) rotateY(180deg) rotateX(-90deg);
  -webkit-transform: translateZ(-30px) rotateY(180deg) rotateX(-90deg);
}
.present.open .right {
  transform: translateX(50%) rotateY(90deg) rotateX(-90deg);
  -webkit-transform: translateX(50%) rotateY(90deg) rotateX(-90deg);
}
.present.open .front {
  transform: translateZ(30px) rotateX(-90deg);
  -webkit-transform: translateZ(30px) rotateX(-90deg);
}
.present.open .lid {
  opacity: 0;
  transform: translate3d(0, -120px, -120px) rotateX(50deg);
  -webkit-transform: translate3d(0, -120px, -120px) rotateX(50deg);
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@keyframes bang {
  to {
    box-shadow: 150px -244px hsl(50, 100%, 80%), -132px -106px hsl(50, 100%, 80%), 30px 48px hsl(50, 100%, 80%), -93px 16px hsl(50, 100%, 80%), 92px -22px hsl(50, 100%, 80%), -134px -185px hsl(50, 100%, 80%), -56px -189px hsl(50, 100%, 80%), 169px -225px hsl(50, 100%, 80%), -34px -176px hsl(50, 100%, 80%), 74px -1px hsl(50, 100%, 80%), -115px -182px hsl(50, 100%, 80%), -22px -41px hsl(50, 100%, 80%), 9px -202px hsl(50, 100%, 80%), -69px -187px hsl(50, 100%, 80%), 118px -184px hsl(50, 100%, 80%), 157px -64px hsl(50, 100%, 80%), 137px -247px hsl(50, 100%, 80%), 155px -185px hsl(50, 100%, 80%), 153px -6px hsl(50, 100%, 80%), 188px 50px hsl(50, 100%, 80%), -129px -63px hsl(50, 100%, 80%), 100px -55px hsl(50, 100%, 80%), 74px -1px hsl(50, 100%, 80%), -11px -185px hsl(50, 100%, 80%), -142px -98px hsl(50, 100%, 80%), -120px -163px hsl(50, 100%, 80%), -74px -29px hsl(50, 100%, 80%), 51px -34px hsl(50, 100%, 80%), 168px -4px hsl(50, 100%, 80%), -23px -108px hsl(50, 100%, 80%), -18px -194px hsl(50, 100%, 80%), 15px -15px hsl(50, 100%, 80%), -47px -230px hsl(50, 100%, 80%), 171px -164px hsl(50, 100%, 80%), 56px -68px hsl(50, 100%, 80%), -49px -122px hsl(50, 100%, 80%), -133px -59px hsl(50, 100%, 80%), 52px 39px hsl(50, 100%, 80%), 60px -30px hsl(50, 100%, 80%), 145px -160px hsl(50, 100%, 80%), -196px -14px hsl(50, 100%, 80%);
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
.row {
  flex-wrap: nowrap;
}

.chestReward {
  transition: all 2s ease;
}
.chestReward #chest-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.chestReward #chest-wrap img {
  width: 100%;
}
.chestReward #chest-wrap .name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateY(0) rotateX(0);
  -webkit-transform: translate(-50%, -50%) rotateY(0) rotateX(0);
  transition: all 1.5s ease;
  width: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.chestReward #chest-wrap .name img {
  transition: all 1.5s ease;
  width: 0;
  height: 0;
}
.chestReward #chest-wrap .name.active {
  transform: translate(-50%, -50%) rotateY(1080deg) rotateX(10deg);
  -webkit-transform: translate(-50%, -50%) rotateY(1080deg) rotateX(10deg);
  width: -moz-max-content;
  width: max-content;
  opacity: 1;
  height: auto;
  overflow: hidden;
}
.chestReward #chest-wrap .name.active img {
  width: 330px;
  height: 330px;
}
.chestReward #chest-wrap .chest-img {
  position: relative;
  width: 100%;
  max-width: 180px;
  margin: 0 auto;
}
.chestReward #chest-wrap .chest-img .chest-top {
  height: -moz-max-content;
  height: max-content;
  z-index: 5;
}
.chestReward #chest-wrap .chest-img .chest-bottom {
  height: -moz-max-content;
  height: max-content;
  z-index: 4;
  transform: translateY(-14%);
  -webkit-transform: translateY(-14%);
}
.chestReward #chest-wrap .chest-img .top-chest {
  top: 0;
  z-index: 2;
}
.chestReward #chest-wrap .chest-img .bottom-chest {
  position: relative;
  z-index: 3;
}
.chestReward #chest-wrap .chest-img .chest {
  position: absolute;
  width: 100%;
}
.chestReward #chest-wrap .chest-img .chest.lock-chest {
  bottom: 0;
  z-index: 3;
  left: 50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  width: 10px;
  transition: all 2s ease-in-out;
}
.chestReward #chest-wrap .chest-img .chest.lock-chest.active {
  width: 20px;
}
.chestReward #chest-wrap .chest-img .chest.gold-chest {
  top: -20px;
}
.chestReward #chest-wrap .chest-img.shake-chest .chest-bottom {
  animation: shakeChestBottom 1.8s infinite ease;
}
.chestReward #chest-wrap .chest-img.shake-chest .chest-top {
  animation: shakeChestTop 1.8s infinite ease;
}
.chestReward #chest-wrap .chest-img.shake-chest .lock-chest {
  animation: shakeChestLock 0.9s infinite ease;
}
.chestReward #chest-wrap .chest-img.open-chest .lock-chest {
  animation: openChestLock 0.8s ease forwards;
}
.chestReward #chest-wrap .chest-img.open-chest .chest-top {
  animation: openChestTop 4s ease forwards;
}
.chestReward #chest-wrap .chest-img.open-chest .chest-bottom {
  animation: openChestBottom 4s ease forwards;
}

@keyframes shakeChestTop {
  0% {
    transform: translateY(0) rotate(0deg);
    -webkit-transform: translateY(0) rotate(0deg);
  }
  15% {
    transform: translateY(-10px) rotate(4deg);
    -webkit-transform: translateY(-10px) rotate(4deg);
  }
  25% {
    transform: translateY(-15px) rotate(-4deg);
    -webkit-transform: translateY(-15px) rotate(-4deg);
  }
  35% {
    transform: translateY(-15px) rotate(4deg);
    -webkit-transform: translateY(-15px) rotate(4deg);
  }
  60% {
    transform: translateY(0) rotate(0deg);
    -webkit-transform: translateY(0) rotate(0deg);
  }
}
@keyframes shakeChestLock {
  0% {
    transform: translate(-50%, 50%) rotate(0deg);
    -webkit-transform: translate(-50%, 50%) rotate(0deg);
  }
  35% {
    transform: translate(-50%, 50%) rotate(20deg);
    -webkit-transform: translate(-50%, 50%) rotate(20deg);
  }
  70% {
    transform: translate(-50%, 50%) rotate(-20deg);
    -webkit-transform: translate(-50%, 50%) rotate(-20deg);
  }
  100% {
    transform: translate(-50%, 50%) rotate(0deg);
    -webkit-transform: translate(-50%, 50%) rotate(0deg);
  }
}
@keyframes shakeChestBottom {
  0% {
    transform: translateY(-14%) rotate(0deg);
    -webkit-transform: translateY(-14%) rotate(0deg);
  }
  15% {
    transform: translateY(-15px) rotate(-4deg);
    -webkit-transform: translateY(-15px) rotate(-4deg);
  }
  25% {
    transform: translateY(-20px) rotate(0deg);
    -webkit-transform: translateY(-20px) rotate(0deg);
  }
  60% {
    transform: translateY(-14%) rotate(0deg);
    -webkit-transform: translateY(-14%) rotate(0deg);
  }
}
@keyframes openChestLock {
  0% {
    opacity: 1;
    transform: translate(-50%, 50%) rotate(0deg);
    -webkit-transform: translate(-50%, 50%) rotate(0deg);
  }
  20% {
    opacity: 1;
    transform: translate(-50%, 50%) rotate(20deg);
    -webkit-transform: translate(-50%, 50%) rotate(20deg);
  }
  40% {
    opacity: 1;
    transform: translate(-50%, 50%) rotate(-20deg);
    -webkit-transform: translate(-50%, 50%) rotate(-20deg);
  }
  100% {
    transform: translate(50px, -20px) rotate(180deg);
    -webkit-transform: translate(50px, -20px) rotate(180deg);
    opacity: 0;
  }
}
@keyframes openChestTop {
  20% {
    transform: translateY(0) rotate(0deg);
    -webkit-transform: translateY(0) rotate(0deg);
  }
  40% {
    transform: translateY(-10px) rotate(4deg);
    -webkit-transform: translateY(-10px) rotate(4deg);
  }
  50% {
    transform: translateY(-15px) rotate(-4deg);
    -webkit-transform: translateY(-15px) rotate(-4deg);
  }
  60% {
    transform: translateY(-15px) rotate(4deg);
    -webkit-transform: translateY(-15px) rotate(4deg);
  }
  70% {
    transform: translateY(-10px) rotate(4deg);
    -webkit-transform: translateY(-10px) rotate(4deg);
    opacity: 1;
  }
  100% {
    transform: translate(140px, -20px) rotate(180deg);
    -webkit-transform: translate(140px, -20px) rotate(180deg);
    opacity: 0;
  }
}
@keyframes openChestBottom {
  0% {
    transform: translateY(-14%) rotate(0deg);
    -webkit-transform: translateY(-14%) rotate(0deg);
  }
  70% {
    transform: translateY(-14%) rotate(0deg);
    -webkit-transform: translateY(-14%) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100px) rotate(0deg);
    -webkit-transform: translateY(100px) rotate(0deg);
    opacity: 0;
  }
}
main {
  padding-bottom: 53px;
}

.banner {
  margin-bottom: 0;
}

.titleGift {
  transition: all 5s ease;
  -webkit-transition: 5s width height visibility transform animation ease;
  z-index: 50;
  position: relative;
}
.titleGift img {
  max-width: 230px;
}

.sound_effect {
  width: 0;
  height: 0;
}

audio {
  width: 0;
  height: 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.renderQua {
  height: -moz-max-content;
  height: max-content;
  max-height: 300px;
}
.renderQua > div {
  flex: content;
  height: 130px;
}
.renderQua > div.hidden {
  width: 0;
  flex: none;
  padding: 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  opacity: 0;
  pointer-events: none;
  height: 200px;
}
.renderQua > div.active {
  width: 100%;
  height: 250px;
}
.renderQua > div.active #chest {
  opacity: 0;
  transition: all 2s ease;
  -webkit-transition: 2s width height visibility transform animation ease;
}
.renderQua .haoQuangBg {
  position: absolute;
  filter: contrast(1.4);
  width: 0;
  animation: scaleBg 1.2s forwards;
  animation-delay: 0.3s;
  opacity: 0.7;
}

.img_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  -webkit-transition: 0.3s width height visibility transform animation ease-in-out;
}
.img_layer.hidden {
  opacity: 0;
}

.content {
  position: relative;
  z-index: 2;
}

#sectionChonQua {
  position: relative;
  padding-top: 30px;
}
#sectionChonQua .pyro {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
  transition: all 0.3s ease-in-out;
}
#sectionChonQua .pyro.hidden {
  visibility: hidden;
}

.displayCode {
  position: relative;
  top: -30px;
  transition: all 0.5s ease;
  -webkit-transition: 190ms width height visibility linear;
}
.displayCode.hidden {
  width: 0;
  height: 0;
  visibility: hidden;
}
.displayCode .code {
  font-size: 30px;
  font-weight: bold;
  padding: 14px 0 18px 0;
  background-image: url("../img/phan-thuong/bg-ma-du-thuong.png");
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  aspect-ratio: 558/160;
  transition: all 0.5s ease;
  -webkit-transition: 190ms width height visibility linear;
  max-width: 279px;
}
.displayCode .text-code {
  -webkit-backdrop-filter: blur(52px) brightness(1.05) contrast(1.009);
          backdrop-filter: blur(52px) brightness(1.05) contrast(1.009);
  color: #872529;
  padding: 9px 30px;
  position: absolute;
  bottom: 0;
  left: 50%;
  text-transform: capitalize;
  font-weight: bold;
  border-radius: 30px;
  width: -moz-max-content;
  width: max-content;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  transition: all 0.5s ease;
  border: 1px solid #e2b259;
  min-width: 180px;
  text-align: center;
}

.warningText {
  margin: 0 auto;
  margin-top: 50px;
  font-weight: 500;
  font-style: italic;
  color: #872529;
  padding: 15px 26px;
  -webkit-backdrop-filter: blur(44px) brightness(1.27) contrast(1.009);
          backdrop-filter: blur(44px) brightness(1.27) contrast(1.009);
  border: 1px solid #e2b259;
  border-radius: 16px;
  overflow: hidden;
}
.warningText.hidden {
  width: 0;
  height: 0;
  visibility: hidden;
}

.hopBanh {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hopBanh .phanThuong {
  transform: translateY(0px) rotateY(0) rotateX(0);
  -webkit-transform: translateY(0px) rotateY(0) rotateX(0);
  transition: all 2.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  -webkit-transition: 2.5s width height visibility transform animation cubic-bezier(0.22, 0.61, 0.36, 1);
}
.hopBanh .hopBanhImg {
  transition: all 0.5s linear;
  -webkit-transition: 0.5s width height visibility transform animation linear;
}
.hopBanh .hopBanhImg.hidden {
  width: 0;
  height: 0;
  visibility: hidden;
}
.hopBanh.open .phanThuong {
  transform: translateY(-10px) rotateY(1080deg) rotateX(10deg) scale(2);
  -webkit-transform: translateY(-10px) rotateY(1080deg) rotateX(10deg) scale(2);
}
.hopBanh.open .hopBanhImg {
  transform: scale(2);
  -webkit-transform: scale(2);
}

.jump-animation {
  animation: jump 1s infinite alternate;
}

@keyframes jump {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}
@keyframes scaleBg {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    scale: 2.15;
    width: 100%;
    top: 0;
    left: 0;
  }
}
@media only screen and (min-width: 1024px) {
  main {
    background-image: url(../img/background/desktop/bg-desktop-thong-tin.jpg);
  }
  main .content {
    display: flex;
    flex-direction: row;
    padding-top: 62px;
    padding-left: 85px;
    padding-right: 85px;
    height: 100%;
    width: 100%;
    justify-content: space-between;
  }
  main .content .banner {
    width: 50%;
    text-align: center;
    height: -moz-max-content;
    height: max-content;
  }
  main .content .banner img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 420px;
  }
  main .content .titleGift img {
    width: 430px;
    max-width: unset;
  }
  main .content .renderQua {
    margin-top: 32px;
  }
  main .content #sectionChonQua {
    width: 45% !important;
  }
  main .renderQua > div.active {
    height: 214px;
  }
  main .warningText {
    margin-top: 65px;
    width: 439px;
  }
  @keyframes scaleBg {
    0% {
      top: 50%;
      left: 50%;
    }
    100% {
      scale: 2.15;
      width: 100%;
      top: -123px;
      left: 0;
    }
  }
  canvas {
    width: 50% !important;
    height: 100% !important;
    position: fixed !important;
    z-index: 100 !important;
    top: 0 !important;
    left: 50% !important;
    pointer-events: none;
  }
}
@media only screen and (max-width: 1023.98px) and (min-width: 768px) and (min-height: 901px) {
  main .content {
    display: flex;
    height: 100vh;
    padding: 80px 0;
    flex-direction: column;
    align-items: center;
  }
  main .content section {
    max-width: 500px !important;
  }
  main .content #sectionThongTin {
    height: -moz-max-content !important;
    height: max-content !important;
    margin-left: 0;
  }
  main .content #sectionThongTin form {
    width: 100%;
    max-width: unset;
  }
  main .content #sectionThongTin form .col-6 {
    width: 100%;
  }
  main .content .banner {
    text-align: center;
    margin-bottom: 30px;
  }
  main .content .banner img {
    width: 420px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) and (min-height: 900px) {
  main {
    height: 100vh;
    background-image: url(../img/background/bg-info.jpeg);
  }
  main .content {
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
  }
  main .content .titleGift img {
    width: 400px;
  }
  .titleGift img {
    max-width: 400px;
  }
  .renderQua .haoQuangBg {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
  }
}
@media only screen and (max-width: 1024.98px) and (min-width: 1024px) {
  main .banner img {
    width: 380px;
  }
  main .content .titleGift img {
    width: 220px;
  }
  .renderQua .haoQuangBg {
    padding-top: 30px;
  }
  #sectionChonQua {
    padding-top: 0;
  }
  main .warningText {
    margin-top: 47px;
    width: 380px;
  }
  .renderQua .haoQuangBg {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
}
@media only screen and (min-width: 1441px) {
  .renderQua .haoQuangBg {
    display: none;
  }
}