.txt-red-main {
  color: #872529;
}

body {
  text-align: center;
  margin: 0px;
}

canvas {
  margin: 0px auto;
}

button {
  color: white;
  background: #b00b16;
  border: none;
  padding: 10px 30px;
  font-weight: 300;
  font-size: 1.2em;
  font-family: "Lato";
  margin: 10px;
  margin-top: 70px;
  cursor: pointer;
  outline: none;
}

.setionChonQua {
  position: relative;
}
.setionChonQua .pyro {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
  transition: all 0.3s ease-in-out;
}
.setionChonQua .pyro.hidden {
  visibility: hidden;
}

#longCau {
  width: 300px;
  aspect-ratio: 1/1;
  margin: 0 auto;
  position: relative;
  scale: 0.7;
}
#longCau .quaCau {
  width: 60px;
  height: 60px;
  position: absolute;
  background-image: url(../img/lottery-wheel/bg-ball.png);
  background-size: cover;
  border-radius: 50%;
  transition: all 1s linear;
  z-index: 5;
}
#longCau .quaCau.hidden {
  opacity: 0;
  width: 0;
  height: 0;
}
#longCau .quaCau:nth-child(1) {
  bottom: 27%;
  left: 7%;
}
#longCau .quaCau:nth-child(2) {
  bottom: 9%;
  left: 15%;
}
#longCau .quaCau:nth-child(3) {
  bottom: 20%;
  left: 32%;
}
#longCau .quaCau:nth-child(4) {
  bottom: 1%;
  left: 33%;
}
#longCau .quaCau:nth-child(4).fall-down {
  animation: fall-down-ball 2s linear 1 forwards;
}
#longCau .quaCau:nth-child(4).open-gift {
  animation: open-ball 2s linear 1 forwards;
}
#longCau .quaCau:nth-child(5) {
  bottom: 4%;
  left: 53%;
}
#longCau .quaCau:nth-child(6) {
  bottom: 24%;
  left: 52%;
}
#longCau .quaCau:nth-child(7) {
  bottom: 14%;
  left: 71%;
}
#longCau .quaCau:nth-child(8) {
  bottom: 32%;
  left: 79%;
}
#longCau .name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateY(0) rotateX(0);
  -webkit-transform: translate(-50%, -50%) rotateY(0) rotateX(0);
  transition: all 1.5s ease;
  width: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
#longCau .name img {
  transition: all 1.5s ease;
  width: 0;
  height: 0;
}
#longCau .name.active {
  transform: translate(-50%, -50%) rotateY(1080deg) rotateX(10deg);
  -webkit-transform: translate(-50%, -50%) rotateY(1080deg) rotateX(10deg);
  width: -moz-max-content;
  width: max-content;
  opacity: 1;
  height: auto;
  overflow: hidden;
}
#longCau .name.active img {
  width: 70%;
  height: 70%;
}
#longCau .img-long-cau {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#longCau .img-long-cau .img-con {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#longCau .img-long-cau .img-con img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  width: 100%;
}
#longCau .img-long-cau .mat-kinh {
  z-index: 7;
}
#longCau .img-long-cau.hidden {
  opacity: 0;
  width: 0;
  height: 0;
}
#longCau.active .quaCau:nth-child(1) {
  animation: quaCauXoay1 1.2s linear 4 backwards;
}
#longCau.active .quaCau:nth-child(2) {
  animation: quaCauXoay2 1.2s 50ms linear 4 backwards;
}
#longCau.active .quaCau:nth-child(3) {
  animation: quaCauXoay3 1.2s linear 4 backwards;
}
#longCau.active .quaCau:nth-child(4) {
  animation: quaCauXoay4 1.2s 100ms linear 4 backwards;
}
#longCau.active .quaCau:nth-child(5) {
  animation: quaCauXoay5 1.2s linear 4 backwards;
}
#longCau.active .quaCau:nth-child(6) {
  animation: quaCauXoay6 1.2s linear 4 backwards;
}
#longCau.active .quaCau:nth-child(7) {
  animation: quaCauXoay7 1.2s linear 4 backwards;
}
#longCau.active .quaCau:nth-child(8) {
  animation: quaCauXoay8 1.2s linear 4 backwards;
}
#longCau.active .img-long-cau .canh-tam,
#longCau.active .img-long-cau .mat-kinh {
  animation: xoayLongCau 1.2s linear 4 backwards;
}

.warningText {
  margin: 0 auto;
  margin-top: 17px;
  color: #872529;
  padding: 15px;
  -webkit-backdrop-filter: blur(44px) brightness(1.27) contrast(1.009);
          backdrop-filter: blur(44px) brightness(1.27) contrast(1.009);
  border: 1px solid #e2b259;
  border-radius: 4px;
  max-width: 279px;
}
.warningText.hidden {
  width: 0;
  height: 0;
  visibility: hidden;
}

@keyframes fall-down-ball {
  10% {
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
  }
  70% {
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    bottom: -120px;
  }
  90% {
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    bottom: -110px;
  }
  100% {
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    bottom: -120px;
  }
}
@keyframes open-ball {
  0% {
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    bottom: -120px;
  }
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    opacity: 0;
    width: 80%;
    height: 80%;
  }
}
@keyframes quaCauXoay1 {
  10% {
    transform: translate(-34%, -43%);
    -webkit-transform: translate(-34%, -43%);
  }
  30% {
    transform: translate(-28%, -100%) rotate(180deg);
    -webkit-transform: translate(-28%, -100%) rotate(180deg);
  }
  40% {
    transform: translate(18%, -200%);
    -webkit-transform: translate(18%, -200%);
  }
  60% {
    transform: translate(136%, -43%) rotate(360deg);
    -webkit-transform: translate(136%, -43%) rotate(360deg);
  }
  80% {
    transform: translate(120%, 95%);
    -webkit-transform: translate(120%, 95%);
  }
}
@keyframes quaCauXoay2 {
  10% {
    transform: translate(-34%, -43%);
    -webkit-transform: translate(-34%, -43%);
  }
  30% {
    transform: translate(-64%, -98%) rotate(180deg);
    -webkit-transform: translate(-64%, -98%) rotate(180deg);
  }
  40% {
    transform: translate(-70%, -197%);
    -webkit-transform: translate(-70%, -197%);
  }
  60% {
    transform: translate(172%, -100%) rotate(360deg);
    -webkit-transform: translate(172%, -100%) rotate(360deg);
  }
  80% {
    transform: translate(197%, -22%);
    -webkit-transform: translate(197%, -22%);
  }
}
@keyframes quaCauXoay3 {
  20% {
    transform: translate(-148%, -108%);
    -webkit-transform: translate(-148%, -108%);
  }
  40% {
    transform: translate(-49%, -200%) rotate(180deg);
  }
  50% {
    transform: translate(90%, -259%);
  }
  70% {
    transform: translate(172%, -100%) rotate(360deg);
  }
}
@keyframes quaCauXoay4 {
  10% {
    transform: translate(-117%, -101%);
  }
  30% {
    transform: translateranslate(-151%, -204%) rotate(180deg);
  }
  40% {
    transform: translate(-130%, -309%);
  }
  60% {
    transform: translate(50%, -181%) rotate(360deg);
  }
  80% {
    transform: translate(103%, -55%);
  }
}
@keyframes quaCauXoay5 {
  10% {
    transform: translate(-135%, -66%);
  }
  30% {
    transform: translate(-207%, -189%) rotate(180deg);
  }
  40% {
    transform: translate(-155%, -343%);
  }
  60% {
    transform: translate(88%, -286%) rotate(360deg);
  }
  80% {
    transform: translate(124%, -123%);
  }
}
@keyframes quaCauXoay6 {
  10% {
    transform: translate(-145%, -2%);
  }
  30% {
    transform: translate(-223%, -129%) rotate(180deg);
  }
  40% {
    transform: translate(-83%, -265%);
  }
  60% {
    transform: translate(100%, -181%) rotate(360deg);
  }
  80% {
    transform: translate(137%, -104%);
  }
}
@keyframes quaCauXoay7 {
  15% {
    transform: translate(-150%, 68%);
  }
  25% {
    transform: translate(-328%, -139%) rotate(180deg);
  }
  40% {
    transform: translate(-185%, -261%);
  }
  65% {
    transform: translate(-14%, -270%) rotate(360deg);
  }
  80% {
    transform: translate(37%, -148%);
  }
}
@keyframes quaCauXoay8 {
  10% {
    transform: translate(-147%, 105%);
  }
  30% {
    transform: translate(-304%, -21%) rotate(180deg);
  }
  40% {
    transform: translate(-357%, -156%);
  }
  60% {
    transform: translate(-151%, -236%) rotate(360deg);
  }
  75% {
    transform: translate(-27%, -147%);
  }
}
@keyframes xoayLongCau {
  0% {
    rotate: 0;
  }
  50% {
    rotate: 180deg;
  }
  100% {
    rotate: 360deg;
  }
}