.row {
  --bs-gutter-x: 7px;
}

@media only screen and (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: row;
    background-image: url(../img/background/desktop/bg-desktop-thong-tin.jpg);
    padding-top: 62px;
    padding-left: 85px;
    padding-right: 85px;
  }
  main .banner {
    width: 50%;
    text-align: center;
    height: -moz-max-content;
    height: max-content;
  }
  main .banner img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 420px;
  }
  main #sectionThongTin {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 95px;
  }
  main #sectionThongTin .txt-red-main {
    margin-bottom: 0 !important;
  }
  main #sectionThongTin h1 {
    margin-bottom: 13px;
  }
  main #sectionThongTin form {
    margin-top: 32px;
    max-width: 370px;
  }
  main #sectionThongTin form .col-6 {
    width: 100%;
  }
}
@media only screen and (max-width: 1279.98px) and (min-width: 1024px) and (max-height: 900px) {
  main .banner img {
    width: 380px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) and (min-height: 901px) {
  main {
    display: flex;
    height: 100vh;
    padding: 80px 0;
    flex-direction: column;
    background-image: url(../img/background/bg-info.jpeg);
    align-items: center;
  }
  main section {
    max-width: 500px !important;
  }
  main #sectionThongTin {
    height: -moz-max-content !important;
    height: max-content !important;
    margin-left: 0;
  }
  main #sectionThongTin form {
    width: 100%;
    max-width: unset;
  }
  main #sectionThongTin form .col-6 {
    width: 100%;
  }
  main .banner {
    text-align: center;
    margin-bottom: 30px;
  }
  main .banner img {
    width: 420px;
  }
}