// reset
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}
*:after,
*:before {
  box-sizing: inherit;
}

p {
  margin-bottom: 0 !important;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  height: -moz-max-content;
  height: max-content;
  // max-width: 640px;
  width: 100vw;
  overflow: hidden;
  margin: 0 auto;
  overflow-x: hidden;
  background: black;
}

main {
  background-image: url("../img/background/bg-info.jpeg");
  min-height: 812px;
  height: 100vh;
  // min-height: 100vh;
  background-size: 100% 100%;
  padding: 35px 24px;
  background-repeat: no-repeat;
  transition: all 1s linear;
  -webkit-transition: background 1000ms linear;
  transform: scale(1);
  -webkit-transform: scale(1);
  backface-visibility: hidden;
  position: relative;
}

h1:not(.modal-title) {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: $TxtColor;
  margin-bottom: unset;
  text-align: center;
  letter-spacing: 1.2px;
}

#exampleModalLabel h1 {
  text-transform: unset;
}

select {
  color: black;
}
.color_gray {
  color: #c0c0c0;
}

.color_black {
  color: black;
}
//-------------------------------------- Modal -------------------------------------//

.modal-header {
  border-bottom: unset;
  justify-content: center;
  padding-bottom: 0;
  padding-top: 40px;
  padding-bottom: 36px;
}
.modal-body {
  margin-top: 40px;
  overflow: scroll;
  .formWarning {
    font-size: 15px;
  }
  padding-top: 0;
  padding-bottom: 0;
}
.modal-footer {
  border-top: unset;
  padding-top: 36px;
  padding-bottom: 40px;
}
.modal-dialog {
  margin: auto 24px;
}
.modal-content {
  background: rgb(255, 244, 191);
  background: linear-gradient(
    180deg,
    rgb(255 244 191 / 96%) 61%,
    rgb(253 216 202 / 98%) 100%
  );
  backdrop-filter: blur(8px);
}
.modal-backdrop.show {
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  main {
    height: 100vh;
    min-height: 812px;
  }
}

@media only screen and (min-width: 768px) {
  main,
  body {
    height: 800px;
    padding: 0;
  }
}
@media only screen and (max-width: 1279.98px) and (min-width: 1024px) {
  main,
  body {
    height: 100vh;
    min-height: unset;
    padding: 0;
  }
}
