#chest-wrap {
  max-width: 400px;
  width: 100%;
  scale: 1.2;
}

#button-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  background: #d8127d;
  color: #fff101;
  padding: 15px 40px;
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  user-select: none;
  cursor: pointer;
  margin: 5px;
}

#chest-wrap {
  position: relative;
  height: 100%;
  .name {
    position: absolute;
    left: 0;
    transform: translate3d(83%, -50%, 0) rotateY(0) rotateX(0);
    -webkit-transform: translate3d(83%, -50%, 0) rotateY(0) rotateX(0);
  }
  svg {
    max-width: 60vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    width: 100%;
  }
  &.open {
    .name {
      transform: translate3d(35%, -23%, 0) rotateY(1080deg) rotateX(10deg);
      -webkit-transform: translate3d(35%, -23%, 0) rotateY(1080deg)
        rotateX(10deg);
      scale: 3;
      transition: all 1s ease;
      img {
        width: 110px;
        height: 110px;
      }
    }
  }
}
#chest {
  overflow: visible;

  &.hidden {
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
  }

  #sparkles,
  #lock,
  #top,
  #bottom,
  #wires_bottom {
    transform-origin: 250px 200px;
    -webkit-transform-origin: 250px 200px;
  }

  #lock {
    transform-origin: 200px 200px;
    -webkit-transform-origin: 200px 200px;
  }

  #left_handle {
    transform-origin: 10% 50%;
    -webkit-transform-origin: 10% 50%;
  }

  #right_handle {
    transform-origin: 80% 50%;
  }

  #sparkles {
    #sparkle_mid {
      opacity: 0;
      animation: fadeIn 2s infinite alternate;
    }

    #sparkle_left {
      opacity: 0;
      animation: fadeIn 2s infinite alternate 0.75s;
    }

    #sparkle_right {
      opacity: 0;
      animation: fadeIn 2s infinite alternate 1.5s;
    }
  }

  #lock_line {
    opacity: 0;
  }

  &.shake-chest {
    #lock {
      animation: shakeChestTop 1.2s infinite ease;
    }

    #bottom,
    #wires_bottom {
      animation: shakeChestBottom 1.2s infinite ease;
    }

    #top {
      animation: shakeChestTop 1.2s infinite ease;

      .cls-20,
      .cls-21 {
        animation: shakeChestTopWires 1.2s infinite ease;
      }
    }

    #left_handle,
    #right_handle {
      animation: shakeChestHandle 1.2s infinite ease;
    }

    #sparkles {
      animation: shakeChestTop 1.2s infinite ease;
    }

    #wires_bottom {
      .cls-21,
      .cls-23 {
        animation: shakeChestBottomWires 1.2s infinite ease;
      }

      .cls-20 {
        animation: shakeChestBottomWire 1.2s infinite ease;
      }
    }
  }

  &.open-chest {
    #lock {
      animation: openLock 0.8s ease forwards 1.2s;

      .cls-29,
      .cls-31,
      .lock-background {
        transition: fill 0.5s ease 2s;
      }

      .cls-29 {
        fill: green;
      }

      .cls-31 {
        fill: darkgreen;
      }

      .lock-background {
        fill: limegreen;
      }
    }

    #top {
      animation: openChestTop 2.5s ease forwards 0.5s;
    }

    #sparkles,
    #wires_bottom {
      opacity: 0;
      transition: 0.6s ease 3s;
    }

    #lock_line {
      opacity: 1;
      animation: lockLineAnimation 2s linear forwards;
    }
  }
}

// SVG STYLE
svg#chest {
  .cls-1 {
    fill: #3a2415;
  }
  .cls-2 {
    fill: #573e1c;
  }
  .cls-3 {
    fill: #f8ec23;
  }
  .cls-4 {
    fill: #875d26;
  }
  .cls-5 {
    fill: #3b2314;
  }
  .cls-6 {
    fill: #ffe309;
  }
  .cls-7 {
    fill: #f6bb49;
  }
  .cls-8 {
    fill: #ffd00a;
  }
  .cls-9 {
    fill: #5b3d1a;
  }
  .cls-10,
  .cls-12 {
    fill: #60421b;
  }
  .cls-11,
  .cls-18,
  .cls-26,
  .cls-28 {
    fill: #fff;
  }
  .cls-11 {
    opacity: 0.34;
  }
  .cls-12 {
    opacity: 0.25;
  }
  .cls-13,
  .cls-22 {
    fill: #422918;
  }
  .cls-14 {
    fill: #1d70b7;
  }
  .cls-15 {
    fill: #4bbced;
  }
  .cls-16,
  .cls-25,
  .cls-30,
  .cls-32,
  .cls-33,
  .cls-34 {
    fill: none;
    stroke-miterlimit: 10;
  }
  .cls-16 {
    stroke: #ffec00;
  }
  .cls-16,
  .cls-32,
  .cls-33,
  .cls-34 {
    stroke-linecap: round;
  }
  .cls-16 {
    stroke-width: 3.46px;
  }
  .cls-17 {
    fill: #a2d7e5;
  }
  .cls-19 {
    fill: #8f5e1d;
  }
  .cls-20 {
    fill: #009ee2;
  }
  .cls-21 {
    fill: #e5007e;
  }
  .cls-22 {
    opacity: 0.35;
  }
  .cls-23 {
    fill: #ffec00;
  }
  .cls-24 {
    fill: #f8bf3e;
  }
  .cls-25 {
    stroke: #644119;
    stroke-width: 1.83px;
  }
  .cls-26 {
    opacity: 0.86;
  }
  .cls-27 {
    fill: #fcea0d;
  }
  .cls-28 {
    opacity: 0.65;
  }
  .cls-29 {
    fill: #214459;
  }
  .cls-30 {
    stroke: #422918;
  }
  .cls-30,
  .cls-34 {
    stroke-width: 5.19px;
  }
  .cls-31 {
    fill: #c5efef;
  }
  .cls-32 {
    stroke: #80cad5;
    stroke-width: 3.69px;
  }
  .cls-33 {
    stroke: #d1eaf6;
    stroke-width: 0.87px;
  }
  .cls-34 {
    stroke: #e5007e;
  }
}

// KEYFRAMES
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shakeChestBottom {
  0% {
    transform: translateY(0) rotate(0deg);
    -webkit-transform: translateY(0) rotate(0deg);
  }
  15% {
    transform: translateY(-5px) rotate(-2deg);
    -webkit-transform: translateY(-5px) rotate(-2deg);
  }
  25% {
    transform: translateY(-10px) rotate(0deg);
    -webkit-transform: translateY(-10px) rotate(0deg);
  }
  60% {
    transform: translateY(0) rotate(0deg);
    -webkit-transform: translateY(0) rotate(0deg);
  }
}

@keyframes shakeChestBottomWires {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  15% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  25% {
    transform: rotate(-1.5deg) translateX(-5px);
    -webkit-transform: rotate(-1.5deg) translateX(-5px);
  }
  35% {
    transform: rotate(-2deg) translateX(-5px);
    -webkit-transform: rotate(-2deg) translateX(-5px);
  }
  60% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}

@keyframes shakeChestBottomWire {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  15% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  25% {
    transform: rotate(-1.5deg) translateX(-6px);
    -webkit-transform: rotate(-1.5deg) translateX(-6px);
  }
  35% {
    transform: rotate(-2deg) translateX(-10px);
    -webkit-transform: rotate(-2deg) translateX(-10px);
  }
  60% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}

@keyframes shakeChestTop {
  0% {
    transform: translateY(0) rotate(0deg);
    -webkit-transform: translateY(0) rotate(0deg);
  }
  15% {
    transform: translateY(-10px) rotate(2deg);
    -webkit-transform: translateY(-10px) rotate(2deg);
  }
  25% {
    transform: translateY(-20px) rotate(-2deg);
    -webkit-transform: translateY(-20px) rotate(-2deg);
  }
  35% {
    transform: translateY(-20px) rotate(2deg);
    -webkit-transform: translateY(-20px) rotate(2deg);
  }
  60% {
    transform: translateY(0) rotate(0deg);
    -webkit-transform: translateY(0) rotate(0deg);
  }
}

@keyframes shakeChestTopWires {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  15% {
    transform: rotate(1deg) translateY(-5px);
    -webkit-transform: rotate(1deg) translateY(-5px);
  }
  25% {
    transform: rotate(-1deg) translateY(5px);
    -webkit-transform: rotate(-1deg) translateY(5px);
  }
  35% {
    transform: rotate(1deg) translateY(-5px);
    -webkit-transform: rotate(1deg) translateY(-5px);
  }
  60% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}

@keyframes shakeChestHandle {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  15% {
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
  }
  25% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
  }
  35% {
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
  }
  60% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}

@keyframes openLock {
  0% {
    transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  30% {
    transform: rotate(-8deg) scale(1);
    -webkit-transform: rotate(-8deg) scale(1);
    opacity: 1;
  }
  45% {
    transform: rotate(-8deg) scale(1);
    -webkit-transform: rotate(-8deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(-8deg) scale(2);
    -webkit-transform: rotate(-8deg) scale(2);
    opacity: 0;
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    opacity: 0;
  }
}

@keyframes openChestTop {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
  75% {
    transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    opacity: 1;
  }
  100% {
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    opacity: 0;
  }
}

@keyframes lockLineAnimation {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  30% {
    transform: translateY(16.5%);
    -webkit-transform: translateY(16.5%);
  }
  60% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  90% {
    transform: translateY(16.5%);
    -webkit-transform: translateY(16.5%);
    opacity: 1;
  }
  100% {
    transform: translateY(16.5%);
    -webkit-transform: translateY(16.5%);
    opacity: 0;
  }
}
