.row {
  flex-wrap: nowrap;
}
.chestReward {
  transition: all 2s ease;
  #chest-wrap {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    img {
      width: 100%;
    }
    .name {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotateY(0) rotateX(0);
      -webkit-transform: translate(-50%, -50%) rotateY(0) rotateX(0);
      transition: all 1.5s ease;
      width: 0;
      opacity: 0;
      height: 0;
      overflow: hidden;
      img {
        transition: all 1.5s ease;
        width: 0;
        height: 0;
      }
      &.active {
        transform: translate(-50%, -50%) rotateY(1080deg) rotateX(10deg);
        -webkit-transform: translate(-50%, -50%) rotateY(1080deg) rotateX(10deg);
        width: max-content;
        opacity: 1;
        height: auto;
        overflow: hidden;
        img {
          width: 330px;
          height: 330px;
        }
      }
    }

    .chest-img {
      position: relative;
      width: 100%;
      max-width: 180px;
      margin: 0 auto;

      .chest-top {
        height: max-content;
        z-index: 5;
      }
      .chest-bottom {
        height: max-content;
        z-index: 4;
        transform: translateY(-14%);
        -webkit-transform: translateY(-14%);
      }
      .top-chest {
        top: 0;
        z-index: 2;
      }
      .bottom-chest {
        position: relative;
        z-index: 3;
      }
      .chest {
        position: absolute;
        width: 100%;
        &.lock-chest {
          bottom: 0;
          z-index: 3;
          left: 50%;
          transform: translate(-50%, 50%);
          -webkit-transform: translate(-50%, 50%);
          width: 10px;
          transition: all 2s ease-in-out;
          &.active {
            width: 20px;
          }
        }
        &.gold-chest {
          top: -20px;
        }
      }
      &.shake-chest {
        .chest-bottom {
          animation: shakeChestBottom 1.8s infinite ease;
        }
        .chest-top {
          animation: shakeChestTop 1.8s infinite ease;
        }
        .lock-chest {
          animation: shakeChestLock 0.9s infinite ease;
        }
      }
      &.open-chest {
        .lock-chest {
          animation: openChestLock 0.8s ease forwards;
        }
        .chest-top {
          animation: openChestTop 4s ease forwards;
        }
        .chest-bottom {
          animation: openChestBottom 4s ease forwards;
        }
      }
    }
  }
}

@keyframes shakeChestTop {
  0% {
    transform: translateY(0) rotate(0deg);
    -webkit-transform: translateY(0) rotate(0deg);
  }
  15% {
    transform: translateY(-10px) rotate(4deg);
    -webkit-transform: translateY(-10px) rotate(4deg);
  }
  25% {
    transform: translateY(-15px) rotate(-4deg);
    -webkit-transform: translateY(-15px) rotate(-4deg);
  }
  35% {
    transform: translateY(-15px) rotate(4deg);
    -webkit-transform: translateY(-15px) rotate(4deg);
  }
  60% {
    transform: translateY(0) rotate(0deg);
    -webkit-transform: translateY(0) rotate(0deg);
  }
}

@keyframes shakeChestLock {
  0% {
    transform: translate(-50%, 50%) rotate(0deg);
    -webkit-transform: translate(-50%, 50%) rotate(0deg);
  }
  35% {
    transform: translate(-50%, 50%) rotate(20deg);
    -webkit-transform: translate(-50%, 50%) rotate(20deg);
  }
  70% {
    transform: translate(-50%, 50%) rotate(-20deg);
    -webkit-transform: translate(-50%, 50%) rotate(-20deg);
  }
  100% {
    transform: translate(-50%, 50%) rotate(0deg);
    -webkit-transform: translate(-50%, 50%) rotate(0deg);
  }
}

@keyframes shakeChestBottom {
  0% {
    transform: translateY(-14%) rotate(0deg);
    -webkit-transform: translateY(-14%) rotate(0deg);
  }
  15% {
    transform: translateY(-15px) rotate(-4deg);
    -webkit-transform: translateY(-15px) rotate(-4deg);
  }
  25% {
    transform: translateY(-20px) rotate(0deg);
    -webkit-transform: translateY(-20px) rotate(0deg);
  }
  60% {
    transform: translateY(-14%) rotate(0deg);
    -webkit-transform: translateY(-14%) rotate(0deg);
  }
}

@keyframes openChestLock {
  0% {
    opacity: 1;
    transform: translate(-50%, 50%) rotate(0deg);
    -webkit-transform: translate(-50%, 50%) rotate(0deg);
  }
  20% {
    opacity: 1;
    transform: translate(-50%, 50%) rotate(20deg);
    -webkit-transform: translate(-50%, 50%) rotate(20deg);
  }
  40% {
    opacity: 1;
    transform: translate(-50%, 50%) rotate(-20deg);
    -webkit-transform: translate(-50%, 50%) rotate(-20deg);
  }
  100% {
    transform: translate(50px, -20px) rotate(180deg);
    -webkit-transform: translate(50px, -20px) rotate(180deg);
    opacity: 0;
  }
}

@keyframes openChestTop {
  20% {
    transform: translateY(0) rotate(0deg);
    -webkit-transform: translateY(0) rotate(0deg);
  }
  40% {
    transform: translateY(-10px) rotate(4deg);
    -webkit-transform: translateY(-10px) rotate(4deg);
  }
  50% {
    transform: translateY(-15px) rotate(-4deg);
    -webkit-transform: translateY(-15px) rotate(-4deg);
  }
  60% {
    transform: translateY(-15px) rotate(4deg);
    -webkit-transform: translateY(-15px) rotate(4deg);
  }
  70% {
    transform: translateY(-10px) rotate(4deg);
    -webkit-transform: translateY(-10px) rotate(4deg);
    opacity: 1;
  }
  100% {
    transform: translate(140px, -20px) rotate(180deg);
    -webkit-transform: translate(140px, -20px) rotate(180deg);
    opacity: 0;
  }
}
@keyframes openChestBottom {
  0% {
    transform: translateY(-14%) rotate(0deg);
    -webkit-transform: translateY(-14%) rotate(0deg);
  }
  70% {
    transform: translateY(-14%) rotate(0deg);
    -webkit-transform: translateY(-14%) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100px) rotate(0deg);
    -webkit-transform: translateY(100px) rotate(0deg);
    opacity: 0;
  }
}
