//-------------------------------------- Button -------------------------------------//
@mixin btnStyleRed {
  background: rgb(177, 33, 41);
  background: linear-gradient(
    180deg,
    rgba(177, 33, 41, 1) 42%,
    rgba(177, 68, 33, 1) 100%
  );
  border: 1px solid #fce9a1;
  color: #fff;
  border-radius: 28px;
  box-shadow: 0px 4px #c06438;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 44px;
  font-weight: 500;
}
.main-red-btn {
  @include btnStyleRed;
}

//-------------------------------------- Input -------------------------------------//
@mixin inputStyle {
  background-color: #fff;
  width: 100%;
  border-radius: 28px;
  line-height: 44px;
  padding: 0 20px;
  &:focus-visible {
    outline: $RedColor auto 1px;
  }
}
input {
  @include inputStyle;
  &[type="checkbox"] {
    border: 1.5px solid #ffffff;
  }
}
::placeholder {
  color: $PlaceHolder;
  font-size: 15px;
  opacity: 1; /* Firefox */
  text-transform: capitalize;
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: $PlaceHolder;
  font-size: 15px;
  text-transform: capitalize;
}

.popup-text {
  color: #fff;
  gap: 8.2px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  letter-spacing: 0.3px;
}

label {
  font-weight: 500;
}

//-------------------------------------- Select -------------------------------------//
@mixin selectStyle {
  background-color: #fff;
  width: 100%;
  border-radius: 28px;
  line-height: 44px;
  height: 44px;
  padding: 0 20px;
  &:focus-visible {
    outline: $RedColor auto 1px;
  }
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
  background-position-y: 50%;
}
// select {
//   @include selectStyle;
//   position: relative;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   text-indent: 1px;
//   text-overflow: "";
//   &::after {
//     content: "đâsdas"; /* Unicode character for down arrow */
//     width: 30px;
//     height: 30px;
//     background-image: url("../img/svg/arrow/sort-down-30.png");
//     position: absolute;
//     top: 50%;
//     right: 10px; /* Adjust this value to position the arrow horizontally */
//     transform: translateY(-50%);
//   }
// }

select {
  @include selectStyle;
}
