$particles: 40;
$width: 400;
$height: 300;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
    random($width)-$width /
      2 +
      px
      random($height)-$height /
      1.2 +
      px
      hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @-moz-keyframes #{$animationName} {
    @content;
  }

  @-o-keyframes #{$animationName} {
    @content;
  }

  @-ms-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation-delay($settings) {
  -moz-animation-delay: $settings;
  -webkit-animation-delay: $settings;
  -o-animation-delay: $settings;
  -ms-animation-delay: $settings;
  animation-delay: $settings;
}

@mixin animation-duration($settings) {
  -moz-animation-duration: $settings;
  -webkit-animation-duration: $settings;
  -o-animation-duration: $settings;
  -ms-animation-duration: $settings;
  animation-duration: $settings;
}

@mixin animation($settings) {
  -moz-animation: $settings;
  -webkit-animation: $settings;
  -o-animation: $settings;
  -ms-animation: $settings;
  animation: $settings;
}

@mixin transform($settings) {
  transform: $settings;
  -moz-transform: $settings;
  -webkit-transform: $settings;
  -o-transform: $settings;
  -ms-transform: $settings;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  @include animation(
    (
      1s bang ease-out infinite backwards,
      1s gravity ease-in infinite backwards,
      5s position linear infinite backwards
    )
  );
}

.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}

@include keyframes(bang) {
  to {
    box-shadow: 150px -244px hsl(50, 100%, 80%),
      -132px -106px hsl(50, 100%, 80%), 30px 48px hsl(50, 100%, 80%),
      -93px 16px hsl(50, 100%, 80%), 92px -22px hsl(50, 100%, 80%),
      -134px -185px hsl(50, 100%, 80%), -56px -189px hsl(50, 100%, 80%),
      169px -225px hsl(50, 100%, 80%), -34px -176px hsl(50, 100%, 80%),
      74px -1px hsl(50, 100%, 80%), -115px -182px hsl(50, 100%, 80%),
      -22px -41px hsl(50, 100%, 80%), 9px -202px hsl(50, 100%, 80%),
      -69px -187px hsl(50, 100%, 80%), 118px -184px hsl(50, 100%, 80%),
      157px -64px hsl(50, 100%, 80%), 137px -247px hsl(50, 100%, 80%),
      155px -185px hsl(50, 100%, 80%), 153px -6px hsl(50, 100%, 80%),
      188px 50px hsl(50, 100%, 80%), -129px -63px hsl(50, 100%, 80%),
      100px -55px hsl(50, 100%, 80%), 74px -1px hsl(50, 100%, 80%),
      -11px -185px hsl(50, 100%, 80%), -142px -98px hsl(50, 100%, 80%),
      -120px -163px hsl(50, 100%, 80%), -74px -29px hsl(50, 100%, 80%),
      51px -34px hsl(50, 100%, 80%), 168px -4px hsl(50, 100%, 80%),
      -23px -108px hsl(50, 100%, 80%), -18px -194px hsl(50, 100%, 80%),
      15px -15px hsl(50, 100%, 80%), -47px -230px hsl(50, 100%, 80%),
      171px -164px hsl(50, 100%, 80%), 56px -68px hsl(50, 100%, 80%),
      -49px -122px hsl(50, 100%, 80%), -133px -59px hsl(50, 100%, 80%),
      52px 39px hsl(50, 100%, 80%), 60px -30px hsl(50, 100%, 80%),
      145px -160px hsl(50, 100%, 80%), -196px -14px hsl(50, 100%, 80%);
  }
}

@include keyframes(gravity) {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}

@include keyframes(position) {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
