.modal-content {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #fce9a1;
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e2b259;
    border-radius: 27px;
  }
}
.modal-body {
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 100%;
    max-width: 100vw;
    height: 100vh !important;
    .modal-content {
      max-width: 970px;
      margin: 0 auto;
    }
  }
}
