.section-gifts {
  .row {
    .fruit-item {
      transition: all 2s ease-in-out;
      position: relative;
      &.hidden {
        width: 0;
        flex: none;
        padding: 0;
        visibility: hidden;
        -webkit-backface-visibility: hidden;
        opacity: 0;
        pointer-events: none;
      }
      &.active {
        width: 40%;
      }
      .gift-wrapper {
        &.open {
          animation: pulse 3s ease forwards;
        }
      }
      .reward-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        transform: translate(-50%, -50%);
        transition: all 0.5s;
        &.active {
          width: 100%;
          height: max-content;
        }
      }
      // .fruit-top {
      //   &.open {
      //     animation: openTop 4s ease forwards;
      //     -webkit-animation: openTop 4s ease forwards;
      //   }
      // }
      // .fruit-bottom {
      //   &.open {
      //     animation: openBottom 4s ease forwards;
      //     -webkit-animation: openBottom 4s ease forwards;
      //   }
      // }
    }
  }
}
// @keyframes openTop {
//   20% {
//     transform: translateY(0) rotate(0deg);
//     -webkit-transform: translateY(0) rotate(0deg);
//   }
//   40% {
//     transform: translateY(-10px) rotate(4deg);
//     -webkit-transform: translateY(-10px) rotate(4deg);
//   }
//   50% {
//     transform: translateY(-15px) rotate(-4deg);
//     -webkit-transform: translateY(-15px) rotate(-4deg);
//   }
//   60% {
//     transform: translateY(-15px) rotate(4deg);
//     -webkit-transform: translateY(-15px) rotate(4deg);
//   }
//   70% {
//     transform: translateY(-10px) rotate(4deg);
//     -webkit-transform: translateY(-10px) rotate(4deg);
//     opacity: 1;
//   }
//   100% {
//     transform: translate(140px, -20px) rotate(180deg);
//     -webkit-transform: translate(140px, -20px) rotate(180deg);
//     opacity: 0;
//   }
// }
// @keyframes openBottom {
//   0% {
//     transform: rotate(0deg);
//     -webkit-transform: rotate(0deg);
//   }
//   70% {
//     transform: rotate(0deg);
//     -webkit-transform: rotate(0deg);
//     opacity: 1;
//   }
//   100% {
//     transform: translateY(100px) rotate(0deg);
//     -webkit-transform: translateY(100px) rotate(0deg);
//     opacity: 0;
//   }
// }
@keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
  20% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    opacity: 1;
  }
  40% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    opacity: 1;
  }
  80% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
  95% {
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
    opacity: 0;
  }
  100% {
    width: 100%;
    aspect-ratio: 1/1;
    opacity: 0;
  }
}
