@import "./traiCay";
body {
  background-image: url(./../img/trai-cay/background/body-bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: max-content;
}
.section-title {
  img {
    width: 100%;
    max-width: 600px;
  }
}
.section-gifts {
  .row {
    --bs-gutter-x: 4.5rem;
    justify-content: center;
  }
  .gift-wrapper {
    position: relative;
    -webkit-animation-name: shake;
    animation-name: shake;
    animation: shake 5s ease both infinite;
    .fruit-bg {
      img {
        width: 100%;
      }
    }
    .main-fruit {
      position: absolute;
      bottom: 0;
      width: 55%;
      img {
        width: 100%;
      }
      .fruit-top {
        margin-bottom: -1px;
        display: flex;
        align-items: flex-end;
      }
      .fruit-bottom {
        display: flex;
        align-items: flex-start;
      }
      &.main-fruit-left {
        left: 0;
      }
      &.main-fruit-right {
        right: 20px;
      }
    }
  }
}
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.reward-wrapper {
  position: relative;
  aspect-ratio: 1/1;
  .reward-bg {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .reward {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}
#confetti {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  4% {
    -webkit-transform: translateX(-10);
    transform: translateX(-10);
  }
  8% {
    -webkit-transform: translateX(10);
    transform: translateX(10);
  }
  13.2% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  16% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  24% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  32% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
    transform: translate(0, 0) rotate(3.5deg);
  }
  51% {
    -webkit-transform: translate(0, 0) rotate(-0.5deg);
    transform: translate(0, 0) rotate(-0.5deg);
  }
  52% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
    transform: translate(0, 0) rotate(-2.5deg);
  }
  53% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
    transform: translate(0, 0) rotate(2.5deg);
  }
  54% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
    transform: translate(0, 0) rotate(3.5deg);
  }
  55% {
    -webkit-transform: translate(0, 0) rotate(-0.5deg);
    transform: translate(0, 0) rotate(-0.5deg);
  }
  56% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
    transform: translate(0, 0) rotate(-2.5deg);
  }
  57% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
    transform: translate(0, 0) rotate(2.5deg);
  }
  58% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
    transform: translate(0, 0) rotate(3.5deg);
  }
  59% {
    -webkit-transform: translate(0, 0) rotate(-0.5deg);
    transform: translate(0, 0) rotate(-0.5deg);
  }
  60% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
    transform: translate(0, 0) rotate(-2.5deg);
  }
  61% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
    transform: translate(0, 0) rotate(2.5deg);
  }
  62% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
    transform: translate(0, 0) rotate(3.5deg);
  }
  63% {
    -webkit-transform: translate(0, 0) rotate(-0.5deg);
    transform: translate(0, 0) rotate(-0.5deg);
  }
  64% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
    transform: translate(0, 0) rotate(-2.5deg);
  }
  65% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
    transform: translate(0, 0) rotate(2.5deg);
  }
  66% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
    transform: translate(0, 0) rotate(3.5deg);
  }
  67% {
    -webkit-transform: translate(0, 0) rotate(-0.5deg);
    transform: translate(0, 0) rotate(-0.5deg);
  }
  68% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
    transform: translate(0, 0) rotate(-2.5deg);
  }
  69% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
    transform: translate(0, 0) rotate(2.5deg);
  }
  70% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
    transform: translate(0, 0) rotate(3.5deg);
  }
  71% {
    -webkit-transform: translate(0, 0) rotate(-0.5deg);
    transform: translate(0, 0) rotate(-0.5deg);
  }
  72% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
    transform: translate(0, 0) rotate(-2.5deg);
  }
  73% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
    transform: translate(0, 0) rotate(2.5deg);
  }
  74% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
    transform: translate(0, 0) rotate(3.5deg);
  }
  75% {
    -webkit-transform: translate(0, 0) rotate(-0.5deg);
    transform: translate(0, 0) rotate(-0.5deg);
  }
  76% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
    transform: translate(0, 0) rotate(-2.5deg);
  }
  77% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
    transform: translate(0, 0) rotate(2.5deg);
  }
  78% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
    transform: translate(0, 0) rotate(3.5deg);
  }
  79% {
    -webkit-transform: translate(0, 0) rotate(-0.5deg);
    transform: translate(0, 0) rotate(-0.5deg);
  }
  80% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
    transform: translate(0, 0) rotate(-2.5deg);
  }
  41%,
  49%,
  81%,
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  4% {
    -webkit-transform: translateX(-10);
    transform: translateX(-10);
  }
  8% {
    -webkit-transform: translateX(10);
    transform: translateX(10);
  }
  13.2% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  16% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  24% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  32% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
    transform: translate(0, 0) rotate(3.5deg);
  }
  51% {
    -webkit-transform: translate(0, 0) rotate(-0.5deg);
    transform: translate(0, 0) rotate(-0.5deg);
  }
  52% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
    transform: translate(0, 0) rotate(-2.5deg);
  }
  53% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
    transform: translate(0, 0) rotate(2.5deg);
  }
  54% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
    transform: translate(0, 0) rotate(3.5deg);
  }
  55% {
    -webkit-transform: translate(0, 0) rotate(-0.5deg);
    transform: translate(0, 0) rotate(-0.5deg);
  }
  56% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
    transform: translate(0, 0) rotate(-2.5deg);
  }
  57% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
    transform: translate(0, 0) rotate(2.5deg);
  }
  58% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
    transform: translate(0, 0) rotate(3.5deg);
  }
  59% {
    -webkit-transform: translate(0, 0) rotate(-0.5deg);
    transform: translate(0, 0) rotate(-0.5deg);
  }
  60% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
    transform: translate(0, 0) rotate(-2.5deg);
  }
  61% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
    transform: translate(0, 0) rotate(2.5deg);
  }
  62% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
    transform: translate(0, 0) rotate(3.5deg);
  }
  63% {
    -webkit-transform: translate(0, 0) rotate(-0.5deg);
    transform: translate(0, 0) rotate(-0.5deg);
  }
  64% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
    transform: translate(0, 0) rotate(-2.5deg);
  }
  65% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
    transform: translate(0, 0) rotate(2.5deg);
  }
  66% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
    transform: translate(0, 0) rotate(3.5deg);
  }
  67% {
    -webkit-transform: translate(0, 0) rotate(-0.5deg);
    transform: translate(0, 0) rotate(-0.5deg);
  }
  68% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
    transform: translate(0, 0) rotate(-2.5deg);
  }
  69% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
    transform: translate(0, 0) rotate(2.5deg);
  }
  70% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
    transform: translate(0, 0) rotate(3.5deg);
  }
  71% {
    -webkit-transform: translate(0, 0) rotate(-0.5deg);
    transform: translate(0, 0) rotate(-0.5deg);
  }
  72% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
    transform: translate(0, 0) rotate(-2.5deg);
  }
  73% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
    transform: translate(0, 0) rotate(2.5deg);
  }
  74% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
    transform: translate(0, 0) rotate(3.5deg);
  }
  75% {
    -webkit-transform: translate(0, 0) rotate(-0.5deg);
    transform: translate(0, 0) rotate(-0.5deg);
  }
  76% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
    transform: translate(0, 0) rotate(-2.5deg);
  }
  77% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
    transform: translate(0, 0) rotate(2.5deg);
  }
  78% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
    transform: translate(0, 0) rotate(3.5deg);
  }
  79% {
    -webkit-transform: translate(0, 0) rotate(-0.5deg);
    transform: translate(0, 0) rotate(-0.5deg);
  }
  80% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
    transform: translate(0, 0) rotate(-2.5deg);
  }
  41%,
  49%,
  81%,
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0);
  }
}

@media only screen and (max-width: 768px) {
  .section-gifts {
    .row {
      --bs-gutter-x: 1rem;
      justify-content: center;
    }
  }
}
