@import "./variable";
@import "./base";
@import "./components";
@import "./modal";
.banner {
  margin-bottom: 20px;
}

.content {
  position: relative;
}

#theleModal {
  .modal-content {
    max-height: 608px;
    overflow: scroll;
  }
  .modal-header {
    flex-direction: column;
    gap: 11px;
  }
  h1 {
    font-size: 20px !important;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 20px !important;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 26px;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 16px;
    text-transform: uppercase;
  }
  .modal-body {
    ul {
      list-style-position: inside;
      padding: 0;
    }
  }
}

small {
  font-size: 1rem;
}

form .feedback {
  font-size: 13px;
  color: red;
  padding-left: 20px;
}
form .feedback.hidden {
  display: none;
}
form input.warning,
form select.warning {
  border: 1px solid red;
}

@media only screen and (min-width: 768px) {
  #theleModal {
    h1,
    h2 {
      font-size: 24px;
      margin-bottom: 0;
    }

    .modal-header {
      padding: 0;
      margin-top: 48px;
    }
    .modal-footer {
      .main-red-btn {
        max-width: 370px;
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (min-width: 1441px) {
  main {
    max-width: 100% !important;
    height: 100vh;
  }
}
