main {
  background-image: url("../img/background/bg-login.jpg");
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: flex-start;

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .banner {
    margin-bottom: 0;
  }
}

.logo-img {
  width: 228px;
  aspect-ratio: 223/225;
}
button:disabled {
  filter: grayscale(1);
}

.section-thoi-gian {
  max-width: 263px;
  padding: 12px 20px 9px 19px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  color: #65171b;
  border: 1px solid #e2b259;
  border-radius: 8px;
  backdrop-filter: blur(30px) brightness(1.15);
  .disc {
    font-size: 12px;
    margin-bottom: 9px !important;
  }
  .info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    .thoi-gian {
      font-style: italic;
      text-align: center;
      border: 1px solid #e2b259;
      padding: 8px 9px 5px 8px;
      border-radius: 8px;
      line-height: 1.2;
    }
  }
}

@media screen and (min-width: 1441px) {
  main {
    max-width: 100vw;
    background-size: unset;
    height: 100vh;
  }
}
// Desktop
@media only screen and (min-width: 1024px) {
  main {
    max-width: 1440px;
    background-image: url(../img/background/desktop/bg-desktop.jpg);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-size: cover;
    background-position: center center;
    .left-side {
      width: 50%;
      height: 100%;
      padding-top: 70px;
      display: flex;
      flex-direction: column;
      align-items: end;
    }
    .right-side {
      margin-left: 95px;
      width: 370px;
      .section-thoi-gian {
        margin-top: 40px;
        width: 100%;
        max-width: unset;
        .disc {
          font-size: 15px;
        }
        .thoi-gian {
          width: 143px;
          font-size: 20px;
        }
      }
    }
    .banner {
      .logo {
        width: 420px;
        margin: 0 auto;
        margin-bottom: 16.5px;
      }
      .slogan {
        img {
          width: 535px;
          aspect-ratio: unset;
          object-fit: contain;
        }
      }
    }
  }
}

// Nest Hub
@media only screen and (max-width: 1279.98px) and (min-width: 1024px) and (max-height: 900px) {
  main {
    padding-top: 0;
    .banner {
      .slogan {
        img {
          width: 400px;
        }
      }
    }
    .left-side {
      padding-top: 20px;
    }
  }
}

// Ipad
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  main {
    height: 100vh;
    background-size: cover;
    background-image: url("../img/background/bg-login.jpg");
    padding-left: 15px;
    padding-right: 15px;
    align-items: flex-start;
    padding-top: 50px;
    flex-direction: column;
    background-position: bottom center;
    .left-side {
      width: 400px;
      margin: 0 auto;
      padding-top: 0;
      height: max-content;
      img {
        width: 80% !important;
      }
      .banner .logo,
      .banner .slogan {
        width: 100%;
        text-align: center;
      }
    }
    .right-side {
      width: 400px;
      margin: 0 auto;
    }
    .banner {
      .slogan {
        img {
        }
      }
    }
  }
}
