@import "./variable";
@import "./gift";
@import "./firework";
@import "./chestTst";

main {
  padding-bottom: 53px;
}
.banner {
  margin-bottom: 0;
}

.titleGift {
  transition: all 5s ease;
  -webkit-transition: 5s width height visibility transform animation ease;
  z-index: 50;
  position: relative;
  img {
    max-width: 230px;
  }
}
.sound_effect {
  width: 0;
  height: 0;
}
audio {
  width: 0;
  height: 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.renderQua {
  height: max-content;
  max-height: 300px;
  & > div {
    flex: content;
    height: 130px;
    &.hidden {
      width: 0;
      flex: none;
      padding: 0;
      visibility: hidden;
      -webkit-backface-visibility: hidden;
      opacity: 0;
      pointer-events: none;
      height: 200px;
    }
    &.active {
      width: 100%;
      // scale: 1.5;
      height: 250px;
      #chest {
        opacity: 0;
        transition: all 2s ease;
        -webkit-transition: 2s width height visibility transform animation ease;
      }
    }
  }
  .haoQuangBg {
    position: absolute;
    filter: contrast(1.4);
    width: 0;
    animation: scaleBg 1.2s forwards;
    animation-delay: 0.3s;
    opacity: 0.7;
  }
}

.img_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  -webkit-transition: 0.3s width height visibility transform animation
    ease-in-out;
  &.hidden {
    opacity: 0;
  }
}

.content {
  position: relative;
  z-index: 2;
}

#sectionChonQua {
  position: relative;
  padding-top: 30px;
  .pyro {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    transition: all 0.3s ease-in-out;
    &.hidden {
      visibility: hidden;
    }
  }
}

.displayCode {
  position: relative;
  top: -30px;
  transition: all 0.5s ease;
  -webkit-transition: 190ms width height visibility linear;
  &.hidden {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  .code {
    font-size: 30px;
    font-weight: bold;
    padding: 14px 0 18px 0;
    background-image: url("../img/phan-thuong/bg-ma-du-thuong.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    aspect-ratio: 558/160;
    transition: all 0.5s ease;
    -webkit-transition: 190ms width height visibility linear;
    max-width: 279px;
  }
  .text-code {
    backdrop-filter: blur(52px) brightness(1.05) contrast(1.009);
    color: $TxtColor;
    padding: 9px 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 30px;
    width: max-content;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    transition: all 0.5s ease;
    border: 1px solid #e2b259;
    min-width: 180px;
    text-align: center;
  }
}

.warningText {
  margin: 0 auto;
  margin-top: 50px;
  font-weight: 500;
  font-style: italic;
  color: $TxtColor;
  padding: 15px 26px;
  backdrop-filter: blur(44px) brightness(1.27) contrast(1.009);
  border: 1px solid #e2b259;
  border-radius: 16px;
  overflow: hidden;
  &.hidden {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.hopBanh {
  display: flex;
  justify-content: center;
  align-items: center;
  .phanThuong {
    transform: translateY(0px) rotateY(0) rotateX(0);
    -webkit-transform: translateY(0px) rotateY(0) rotateX(0);
    transition: all 2.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    -webkit-transition: 2.5s width height visibility transform animation
      cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  .hopBanhImg {
    transition: all 0.5s linear;
    -webkit-transition: 0.5s width height visibility transform animation linear;
    &.hidden {
      width: 0;
      height: 0;
      visibility: hidden;
    }
  }
  &.open {
    .phanThuong {
      transform: translateY(-10px) rotateY(1080deg) rotateX(10deg) scale(2);
      -webkit-transform: translateY(-10px) rotateY(1080deg) rotateX(10deg)
        scale(2);
      // scale: 2;
    }
    .hopBanhImg {
      // scale: 2;
      transform: scale(2);
      -webkit-transform: scale(2);
    }
  }
}

.jump-animation {
  animation: jump 1s infinite alternate;
}

@keyframes jump {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

@keyframes scaleBg {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    scale: 2.15;
    width: 100%;
    top: 0;
    left: 0;
  }
}
// Desktop
@media only screen and (min-width: 1024px) {
  main {
    background-image: url(../img/background/desktop/bg-desktop-thong-tin.jpg);
    .content {
      display: flex;
      flex-direction: row;
      padding-top: 62px;
      padding-left: 85px;
      padding-right: 85px;
      height: 100%;
      width: 100%;
      justify-content: space-between;
      .banner {
        width: 50%;
        text-align: center;
        height: max-content;
        img {
          object-fit: contain;
          width: 420px;
        }
      }
      .titleGift {
        img {
          width: 430px;
          max-width: unset;
        }
      }
      .renderQua {
        margin-top: 32px;
      }
      #sectionChonQua {
        width: 45% !important;
      }
    }
    .renderQua > div.active {
      height: 214px;
    }
    .warningText {
      margin-top: 65px;
      width: 439px;
    }
  }
  @keyframes scaleBg {
    0% {
      top: 50%;
      left: 50%;
    }
    100% {
      scale: 2.15;
      width: 100%;
      top: -123px;
      left: 0;
    }
  }
  canvas {
    width: 50% !important;
    height: 100% !important;
    position: fixed !important;
    z-index: 100 !important;
    top: 0 !important;
    left: 50% !important;
    pointer-events: none;
  }
}

// Ipad
@media only screen and (max-width: 1023.98px) and (min-width: 768px) and (min-height: 901px) {
  main {
    .content {
      display: flex;
      height: 100vh;
      padding: 80px 0;
      flex-direction: column;
      align-items: center;
      section {
        max-width: 500px !important;
      }
      #sectionThongTin {
        height: max-content !important;
        margin-left: 0;
        form {
          width: 100%;
          max-width: unset;
          .col-6 {
            width: 100%;
          }
        }
      }
      .banner {
        text-align: center;
        margin-bottom: 30px;
        img {
          width: 420px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) and (min-height: 900px) {
  main {
    height: 100vh;
    background-image: url(../img/background/bg-info.jpeg);
    .content {
      flex-direction: column;
      justify-content: flex-start;
      gap: 20px;
      align-items: center;
    }
  }
  main .content .titleGift img {
    width: 400px;
  }
  .titleGift img {
    max-width: 400px;
  }

  .renderQua .haoQuangBg {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
  }
}

// Nest Hub
@media only screen and (max-width: 1024.98px) and (min-width: 1024px) {
  main .banner img {
    width: 380px;
  }
  main .content .titleGift img {
    width: 220px;
  }
  .renderQua .haoQuangBg {
    padding-top: 30px;
  }
  #sectionChonQua {
    padding-top: 0;
  }
  main .warningText {
    margin-top: 47px;
    width: 380px;
  }
  .renderQua .haoQuangBg {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
}

@media only screen and (min-width: 1441px) {
  .renderQua .haoQuangBg {
    display: none;
  }
}
