.row {
  --bs-gutter-x: 7px;
}

// Desktop
@media only screen and (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: row;
    background-image: url(../img/background/desktop/bg-desktop-thong-tin.jpg);
    padding-top: 62px;
    padding-left: 85px;
    padding-right: 85px;
    .banner {
      width: 50%;
      text-align: center;
      height: max-content;
      img {
        object-fit: contain;
        width: 420px;
      }
    }
    #sectionThongTin {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 95px;
      .txt-red-main {
        margin-bottom: 0 !important;
      }
      h1 {
        margin-bottom: 13px;
      }
      form {
        margin-top: 32px;
        max-width: 370px;
        .col-6 {
          width: 100%;
        }
      }
    }
  }
}

// Nest Hub
@media only screen and (max-width: 1279.98px) and (min-width: 1024px) and (max-height: 900px) {
  main .banner img {
    width: 380px;
  }
}

// Ipad
@media only screen and (max-width: 1024px) and (min-width: 768px) and (min-height: 901px) {
  main {
    display: flex;
    height: 100vh;
    padding: 80px 0;
    flex-direction: column;
    background-image: url(../img/background/bg-info.jpeg);
    align-items: center;
    section {
      max-width: 500px !important;
    }
    #sectionThongTin {
      height: max-content !important;
      margin-left: 0;
      form {
        width: 100%;
        max-width: unset;
        .col-6 {
          width: 100%;
        }
      }
    }
    .banner {
      text-align: center;
      margin-bottom: 30px;
      img {
        width: 420px;
      }
    }
  }
}
