.section-gifts .row .fruit-item {
  transition: all 2s ease-in-out;
  position: relative;
}
.section-gifts .row .fruit-item.hidden {
  width: 0;
  flex: none;
  padding: 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.section-gifts .row .fruit-item.active {
  width: 40%;
}
.section-gifts .row .fruit-item .gift-wrapper.open {
  animation: pulse 3s ease forwards;
}
.section-gifts .row .fruit-item .reward-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.section-gifts .row .fruit-item .reward-wrapper.active {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}

@keyframes pulse {
  0% {
    transform: scaleX(1);
    opacity: 1;
  }
  20% {
    transform: scale3d(1.05, 1.05, 1.05);
    opacity: 1;
  }
  40% {
    transform: scaleX(1);
    opacity: 1;
  }
  60% {
    transform: scale3d(1.05, 1.05, 1.05);
    opacity: 1;
  }
  80% {
    transform: scaleX(1);
    opacity: 1;
  }
  95% {
    transform: scale3d(2, 2, 2);
    opacity: 0;
  }
  100% {
    width: 100%;
    aspect-ratio: 1/1;
    opacity: 0;
  }
}
body {
  background-image: url(./../img/trai-cay/background/body-bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: -moz-max-content;
  height: max-content;
}

.section-title img {
  width: 100%;
  max-width: 600px;
}

.section-gifts .row {
  --bs-gutter-x: 4.5rem;
  justify-content: center;
}
.section-gifts .gift-wrapper {
  position: relative;
  animation-name: shake;
  animation: shake 5s ease both infinite;
}
.section-gifts .gift-wrapper .fruit-bg img {
  width: 100%;
}
.section-gifts .gift-wrapper .main-fruit {
  position: absolute;
  bottom: 0;
  width: 55%;
}
.section-gifts .gift-wrapper .main-fruit img {
  width: 100%;
}
.section-gifts .gift-wrapper .main-fruit .fruit-top {
  margin-bottom: -1px;
  display: flex;
  align-items: flex-end;
}
.section-gifts .gift-wrapper .main-fruit .fruit-bottom {
  display: flex;
  align-items: flex-start;
}
.section-gifts .gift-wrapper .main-fruit.main-fruit-left {
  left: 0;
}
.section-gifts .gift-wrapper .main-fruit.main-fruit-right {
  right: 20px;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.reward-wrapper {
  position: relative;
  aspect-ratio: 1/1;
}
.reward-wrapper .reward-bg img {
  width: 100%;
  height: 100%;
}
.reward-wrapper .reward {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reward-wrapper .reward img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#confetti {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
@keyframes shake {
  0% {
    transform: translateY(0);
    transform: translateX(0);
  }
  4% {
    transform: translateX(-10);
  }
  8% {
    transform: translateX(10);
  }
  13.2% {
    transform: translateY(0);
    transform: translateX(0);
  }
  16% {
    transform: translateY(-15px);
  }
  20% {
    transform: translateY(0);
  }
  24% {
    transform: translateY(-10px);
  }
  32% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  51% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  52% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  53% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  54% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  55% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  56% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  57% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  58% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  59% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  60% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  61% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  62% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  63% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  64% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  65% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  66% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  67% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  68% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  69% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  70% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  71% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  72% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  73% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  74% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  75% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  76% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  77% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  78% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  79% {
    transform: translate(0, 0) rotate(-0.5deg);
  }
  80% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  41%, 49%, 81%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}
@media only screen and (max-width: 768px) {
  .section-gifts .row {
    --bs-gutter-x: 1rem;
    justify-content: center;
  }
}