.txt-red-main {
  color: #872529;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}

*:after,
*:before {
  box-sizing: inherit;
}

p {
  margin-bottom: 0 !important;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  height: -moz-max-content;
  height: max-content;
  width: 100vw;
  overflow: hidden;
  margin: 0 auto;
  overflow-x: hidden;
  background: black;
}

main {
  background-image: url("../img/background/bg-info.jpeg");
  min-height: 812px;
  height: 100vh;
  background-size: 100% 100%;
  padding: 35px 24px;
  background-repeat: no-repeat;
  transition: all 1s linear;
  -webkit-transition: background 1000ms linear;
  transform: scale(1);
  -webkit-transform: scale(1);
  backface-visibility: hidden;
  position: relative;
}

h1:not(.modal-title) {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #872529;
  margin-bottom: unset;
  text-align: center;
  letter-spacing: 1.2px;
}

#exampleModalLabel h1 {
  text-transform: unset;
}

select {
  color: black;
}

.color_gray {
  color: #c0c0c0;
}

.color_black {
  color: black;
}

.modal-header {
  border-bottom: unset;
  justify-content: center;
  padding-bottom: 0;
  padding-top: 40px;
  padding-bottom: 36px;
}

.modal-body {
  margin-top: 40px;
  overflow: scroll;
  padding-top: 0;
  padding-bottom: 0;
}
.modal-body .formWarning {
  font-size: 15px;
}

.modal-footer {
  border-top: unset;
  padding-top: 36px;
  padding-bottom: 40px;
}

.modal-dialog {
  margin: auto 24px;
}

.modal-content {
  background: rgb(255, 244, 191);
  background: linear-gradient(180deg, rgba(255, 244, 191, 0.96) 61%, rgba(253, 216, 202, 0.98) 100%);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.modal-backdrop.show {
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  main {
    height: 100vh;
    min-height: 812px;
  }
}
@media only screen and (min-width: 768px) {
  main,
  body {
    height: 800px;
    padding: 0;
  }
}
@media only screen and (max-width: 1279.98px) and (min-width: 1024px) {
  main,
  body {
    height: 100vh;
    min-height: unset;
    padding: 0;
  }
}
.main-red-btn {
  background: rgb(177, 33, 41);
  background: linear-gradient(180deg, rgb(177, 33, 41) 42%, rgb(177, 68, 33) 100%);
  border: 1px solid #fce9a1;
  color: #fff;
  border-radius: 28px;
  box-shadow: 0px 4px #c06438;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 44px;
  font-weight: 500;
}

input {
  background-color: #fff;
  width: 100%;
  border-radius: 28px;
  line-height: 44px;
  padding: 0 20px;
}
input:focus-visible {
  outline: #fa000f auto 1px;
}
input[type=checkbox] {
  border: 1.5px solid #ffffff;
}

::-moz-placeholder {
  color: #c0c0c0;
  font-size: 15px;
  opacity: 1; /* Firefox */
  text-transform: capitalize;
}

::placeholder {
  color: #c0c0c0;
  font-size: 15px;
  opacity: 1; /* Firefox */
  text-transform: capitalize;
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #c0c0c0;
  font-size: 15px;
  text-transform: capitalize;
}

.popup-text {
  color: #fff;
  gap: 8.2px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  letter-spacing: 0.3px;
}

label {
  font-weight: 500;
}

select {
  background-color: #fff;
  width: 100%;
  border-radius: 28px;
  line-height: 44px;
  height: 44px;
  padding: 0 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
  background-position-y: 50%;
}
select:focus-visible {
  outline: #fa000f auto 1px;
}

.modal-content {
  /* width */
  /* Track */
  /* Handle */
}
.modal-content ::-webkit-scrollbar {
  width: 10px;
}
.modal-content ::-webkit-scrollbar-track {
  background-color: #fce9a1;
  border-radius: 5px;
}
.modal-content ::-webkit-scrollbar-thumb {
  background: #e2b259;
  border-radius: 27px;
}

.modal-body {
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 100%;
    max-width: 100vw;
    height: 100vh !important;
  }
  .modal-dialog .modal-content {
    max-width: 970px;
    margin: 0 auto;
  }
}
.banner {
  margin-bottom: 20px;
}

.content {
  position: relative;
}

#theleModal .modal-content {
  max-height: 608px;
  overflow: scroll;
}
#theleModal .modal-header {
  flex-direction: column;
  gap: 11px;
}
#theleModal h1 {
  font-size: 20px !important;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#theleModal h2 {
  font-size: 20px !important;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  line-height: 26px;
  margin-bottom: 30px;
}
#theleModal h3 {
  font-size: 16px;
  text-transform: uppercase;
}
#theleModal .modal-body ul {
  list-style-position: inside;
  padding: 0;
}

small {
  font-size: 1rem;
}

form .feedback {
  font-size: 13px;
  color: red;
  padding-left: 20px;
}

form .feedback.hidden {
  display: none;
}

form input.warning,
form select.warning {
  border: 1px solid red;
}

@media only screen and (min-width: 768px) {
  #theleModal h1,
  #theleModal h2 {
    font-size: 24px;
    margin-bottom: 0;
  }
  #theleModal .modal-header {
    padding: 0;
    margin-top: 48px;
  }
  #theleModal .modal-footer .main-red-btn {
    max-width: 370px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1441px) {
  main {
    max-width: 100% !important;
    height: 100vh;
  }
}